<p id="notice"></p>

<% provide(:title, "Posts Index") %>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content snippet</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <% if logged_in? %>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        
        <td><%= post.title %></td>
        
        
        
        <td><%= link_to 'Show', post %>  </td>
        <td><%= link_to 'Edit', edit_post_path(post) %>  </td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <% else %>
  
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        
        <td><%= post.title %></td>
        
 
        
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
  
  
<% end %>
 
  
</table>

<br>

<% if logged_in? %>

  <%= link_to 'New Post', new_post_path %> | 
  <%= link_to 'Home', root_path %>
  
<% else %>

  <%= link_to 'Home', root_path %>
  
<% end %>
